{
  "graphicsPath": "../graphics-js",
  "templatePath": "../dailygraphics-templates",
  // leave driveFolder blank to create new sheets in the same folder as their templates
  "driveFolder": "1XFImt1YPdQ7STuHmaojUj9IAn60rSuIB",
  "s3": {
    "live": {
      "bucket": "projects.wbez.org",
      "prefix": "graphics/2019"
    },
    "stage": {
      "bucket": "staticprojects.wbez.org",
      "prefix": "graphics/2019"
    }
  },
  "analyticsID": ""
}
