{
  "graphicsPath": "../graphics-in-process",
  "templatePath": "../dailygraphics-templates",
  // leave driveFolder blank to create new sheets in the same folder as their templates
  "driveFolder": "",
  "s3": {
    "bucket": "projects.wbez.org",
    "prefix": "graphics/2019"
  },
  "analyticsID": ""
}
